<!DOCTYPE html>
<html>
<head>
<title>AI Healthcare Diagnostics</title>
<style>
body{
font-family: Arial;
text-align:center;
background:#f2f2f2;
}

.container{
margin-top:100px;
}

a{
display:inline-block;
margin:20px;
padding:15px 30px;
background:#3498db;
color:white;
text-decoration:none;
border-radius:8px;
font-size:18px;
}

a:hover{
background:#2c80b4;
}
</style>
</head>

<body>

<div class="container">

<h1>AI Healthcare Diagnostics</h1>

<p>Select Prediction Model</p>

<a href="/diabetes">Diabetes Prediction</a>

<a href="/heart">Heart Disease Prediction</a>

</div>

</body>
</html>